<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>spring-boot in action</title>
    <style type="text/css">
        .error-page {
            width: 800px;
            text-align: center;
            margin: 100px auto 0;
            padding: 50px;
            font-size: 18px;
            line-height: 1.5;
            color: #999;
            border: 1px solid #e0e0e0;
            background-color: #fff;
        }
    </style>
</head>
<body>

    <div id="tt404" class="error-page"> <h2>404</h2> <p>Page not found!3秒后返回首页</p></div>
</body>
</html>